<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Custom styles for this template-->
  <link href="/src/assets/css/sb-admin-2.css" rel="stylesheet">
  <!-- Custom fonts for this template -->
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">
</head>

<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-right" href="/home">
        <img src="/assets/img/4982356.png">
        <div class="sidebar-brand-text mx-3">Teilen Library</div>
      </a>
      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
          aria-controls="collapseTwo">
          <i class="fas fa-fw fa-book-reader"></i>
          <span>Libros</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Catalogo:</h6>
            <a class="collapse-item" href="libros/bestsellers">Best Sellers</a>
            <a class="collapse-item" href="libros">Buscar Libros</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
          aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-swatchbook"></i>
          <span>Prestamos</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Acciones:</h6>
            <a class="collapse-item" href="libros/nuevo">Publicar Libro</a>
            <a class="collapse-item" href="libros/editoriales">Publicar Editorial</a>
          </div>
        </div>

      </li>

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="noticias">
          <i class="fas fa-newspaper"></i>
          <span>Noticias</span></a>
      </li>

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="aboutus">
          <i class="fa fa-users"></i>
          <span>About us</span></a>
      </li>
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-2 shadow">
          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages (Notificacion)-->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                      aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>

            <!-- Nav Item - Alerts -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <!-- Counter - Alerts -->
                <span class="badge badge-danger badge-counter">3+</span>
              </a>
              <!-- Dropdown - Alerts -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                  Notificaciones
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-primary">
                      <i class="fas fa-file-alt text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">Abril 1, 2021</div>
                    <span class="font-weight-bold">Tienes un nuevo voto en un uno de tus libros!</span>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle badge-danger">
                      <i class="fas fa-calendar-times"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">Marzo 29, 2021</div>
                    A sobre pasado la fecha de entrega en el prestámo 64526.
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-warning">
                      <i class="fas fa-exclamation-triangle text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">Marzo 2, 2021</div>
                    Ya puede recoger el préstamo 94613 en su sede.
                  </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Muestrame todas las notificaciones</a>
              </div>
            </li>
            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Marc Cuenca Díaz</span>
                <img class="img-profile rounded-circle" src="assets/img/undraw_profile.svg">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="usuario/perfil">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Mi perfil
                </a>
                <!--Div del usuaro -> opciones-->
                <a class="dropdown-item" href="usuario/libros">
                  <i class="fas fa-swatchbook fa-sm fa-fw mr-2 text-gray-400"></i>
                  Mis libros
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="login" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Cerrar sesión
                </a>
              </div>
            </li>
          </ul>
        </nav>
        <!-- End of Topbar -->

        <div class="container">
          <!-- Portfolio Section -->
          <h2 class="mt" style="color:#3f5fee"><strong>Best Sellers</strong></h2>

          <div class="row">
            <div class="col-lg-4 col-sm-6 portfolio-item p-3">
              <div class="card p-6 ">
                <a href="#"><img class="card-img-top"
                    src="https://static9planetadelibroscom.cdnstatics.com/usuaris/libros/fotos/329/tam_1/portada_independencia_javier-cercas_202012281832.jpg"
                    alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">Independencia</a>
                  </h4>
                  <p class="card-text">Un furioso alegato contra la tiranía de los dueños del dinero y los amos del
                    mundo. </p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Autor: Javier Cercas</li>
                  <li class="list-group-item">Editorial: Tusquets Editores S.A.</li>
                  <li class="list-group-item">Temática: Novela literaria</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item p-3">
              <div class="card p-6 ">
                <a href="#"><img class="card-img-top"
                    src="https://static3planetadelibroscom.cdnstatics.com/usuaris/libros/fotos/323/tam_1/portada_aquitania_eva-garcia-saenz-de-urturi_202010220907.jpg"
                    alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">Aquitania</a>
                  </h4>
                  <p class="card-text">Un poderoso thriller histórico que atraviesa un siglo repleto de venganzas,
                    incestos y batallas. </p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Autor: Eva García Sáenz de Urturi</li>
                  <li class="list-group-item">Editorial: Editorial Planeta</li>
                  <li class="list-group-item">Temática: Novela contemporánea</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item p-3">
              <div class="card p-6 ">
                <a href="#"><img class="card-img-top"
                    src="https://static6planetadelibroscom.cdnstatics.com/usuaris/libros/fotos/326/tam_1/portada_terra-alta_javier-cercas_202011101158.jpg"
                    alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">Terra Alta</a>
                  </h4>
                  <p class="card-text">Él era un hombre justo, el mundo, no.Un crimen terrible sacude la apacible
                    comarca de la Terra Alta </p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Autor: Javier Cercas</li>
                  <li class="list-group-item">Editorial: Booket</li>
                  <li class="list-group-item">Temática: Novela contemporánea</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item p-3">
              <div class="card p-6 ">
                <a href="#"><img class="card-img-top"
                    src="https://static7planetadelibroscom.cdnstatics.com/usuaris/libros/fotos/327/tam_1/portada_intercambio-de-vidas_xavier-sarda_202012230941.jpg"
                    alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">Intercambio de vidas</a>
                  </h4>
                  <p class="card-text">Una divertida obra que rebosa humor negro, vecinos deciden el tiempo que quieren
                    que haga el próximo año.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Autor: Xavier Sardà</li>
                  <li class="list-group-item">Editorial: Espasa</li>
                  <li class="list-group-item">Temática: Novela literaria</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item p-3">
              <div class="card p-6 ">
                <a href="#"><img class="card-img-top"
                    src="https://static5planetadelibroscom.cdnstatics.com/usuaris/libros/fotos/325/tam_1/portada_xxxxxx_varios-autores_202011020914.jpg"
                    alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">Los privilegios del ángel</a>
                  </h4>
                  <p class="card-text">Dos amigas inseparables. Una pérdida inasumible. Una vida a la deriva. La primera
                    novela de Dolores Redondo. </p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Autor: Dolores Redondo</li>
                  <li class="list-group-item">Editorial: Booket</li>
                  <li class="list-group-item">Temática: Novela contemporánea</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item p-3">
              <div class="card p-6 ">
                <a href="#"><img class="card-img-top"
                    src="https://static2planetadelibroscom.cdnstatics.com/usuaris/libros/fotos/322/tam_1/portada_el-chisme_risto-mejide_202012230927.jpg"
                    alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">El chisme</a>
                  </h4>
                  <p class="card-text">¿Qué pasaría si un día nos levantáramos y una voz nos dijera al oído qué es lo
                    que tenemos que decir? </p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Autor: Risto Mejide</li>
                  <li class="list-group-item">Editorial: Espasa</li>
                  <li class="list-group-item">Temática: Novela literaria</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item p-3">
              <div class="card p-6 ">
                <a href="#"><img class="card-img-top"
                    src="https://static0planetadelibroscom.cdnstatics.com/usuaris/libros/fotos/210/tam_1/portada_el-senor-de-los-anillos_j-r-r-tolkien_201601252224.jpg"
                    alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">El Señor de los Anillos</a>
                  </h4>
                  <p class="card-text">La obra cumbre de la fantasía épica en un solo volumen.Los Anillos de Poder
                    fueron forjados en antiguos tiempos. </p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Autor: J. R. R. Tolkien</li>
                  <li class="list-group-item">Editorial: Booket</li>
                  <li class="list-group-item">Temática: Fantasía</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item p-3">
              <div class="card p-6 ">
                <a href="#"><img class="card-img-top"
                    src="https://static4planetadelibroscom.cdnstatics.com/usuaris/libros/fotos/314/tam_1/portada_liberacion_imogen-kealey_202002251556.jpg"
                    alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">Liberación</a>
                  </h4>
                  <p class="card-text">Para los aliados, una mujer enamorada.
                    Para los nazis, una sombra.
                    Para la historia, una leyenda.
                  </p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Autor: Imogen Kealey</li>
                  <li class="list-group-item">Editorial: Editorial Planeta</li>
                  <li class="list-group-item">Temática: Novela histórica</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item p-3">
              <div class="card p-6 ">
                <a href="#"><img class="card-img-top"
                    src="https://static6planetadelibroscom.cdnstatics.com/usuaris/libros/fotos/326/tam_1/portada_bichos_carlos-miguel-cortes-turista-en-tu-pelo_202011101149.jpg"
                    alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">BICHOS</a>
                  </h4>
                  <p class="card-text">Un intenso poemario sobre la vida y el amor. "Vivir es siempre pasar por
                    diferentes fases" </p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"> Autor: Carlos Miguel Cortés</li>
                  <li class="list-group-item">Editorial: Destino Infantil & Juvenil</li>
                  <li class="list-group-item">Temática: Poesía</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- /.row -->
        </div>
        <!-- End of Main Content -->
      </div>

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Teilen Library 2021</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Listo para cerrar sesión?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          Seleccione "Cerrar sesión" a continuación si está listo para finalizar su sesión actual.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login">Cerrar sesión</a>
        </div>
      </div>
    </div>
  </div>
  <!-- jQuery -->
  <script src="js/jquery.js"></script>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="js/demo/chart-area-demo.js"></script>
  <script src="js/demo/chart-pie-demo.js"></script>

</body>

</html>
